<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>GetApp</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
 body{
 display:flex;
 justify-content:center;
 align-content:center;
 }
 form{

 }
</style>
<script src=""></script>
<body>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="OK">
</form>
<div style="padding-top:50px; ,margin-right:150px">
<p>{% if name %}{{ name }}{% endif %}</p>
<p>{% if message %}{{ message }}{% endif %}</p>
</div>
</body>